







/* CSS HOME */
.banner{
    width: 100%;
    height: 500px;
}
#banner{
    transition: ease-in-out 2s;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    border: 2px solid #ccc;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    opacity: 0.7;
    }
     
    #myBtn:hover {
    background-color: #f1f1f1;
    }
.vach1{
    display: flex;
    justify-content: space-evenly;
}
.vach2{
    display: flex;
    justify-content: space-evenly;
}
.vach11{
    
    margin-left: 3%;
    width: 40%;
    height: 2px;
    border: 2px solid black;
}
.vach{
    
    margin-left: 3%;
    width: 40%;
    height: 0.5px;
    border-top: 0.01px solid black;
}
i{
    font-family: 'Font Awesome 5 Pro';
    color:#585151;
}
.fa-user{
    float: left;
    margin-top: 7px;
    margin-right: 3px;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 0 auto;
}
header{
    height: 200px;
    background-image: linear-gradient(1800deg, rgb(255, 255, 255), rgb(65, 134, 153));
}
.call-lienhe {
    color: rgb(36, 164, 164);
    text-decoration: none;
}
.call-lienhe p{
    margin-left: -24px;
}
.call-lienhe p:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;
    transform: scale(1.1);
}
.call-lienhe img:hover{
    border-radius: 5px;
box-shadow: 0px 0px 8px black;
transform: scale(1.1);
}
a:hover{
    transform: scale(1.05);  
}
.div a{
    margin: 5px;
}
.div a img:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;
    transform: scale(1.1);
}
.logo {
    margin-top: -13px;
    display: flex;
    justify-content: space-around;
}
/* MENU */

.btn_timkiem{
    margin-left: 110px;
    width: 40px;
    border-radius: 10px;
}
.timkiem{
    height: 30px;
    position: relative;
    left: 400px;
}
.box_search button{
    background-color: none;

    }
.box_search{
    position: absolute;
    display: none;
}
.timkiem:hover .box_search{
    margin-left: -120px;
    margin-bottom: 100px;
    display: block;
}

.dropdown {
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: rgb(93, 179, 203);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    left: 520px;
    width: 100px;
}
  .dropdown-content a {
    color: rgb(93, 179, 203);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(203, 221, 237);
    border-radius: 5%;
  }

  .dropdown-content a:hover {
    background-color: rgb(203, 221, 237);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .link_menu::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .link_menu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .link_menu::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  .link_menu {
    position: relative;
  }
  /* END MENU */
  /* CSS HOME */

  .divvach_yeuthich{
    width: 200px;
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-right: 10px solid black;
  }
  .name_danhmucyeuthich{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
.danhmucyeuthich{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10rem;
    margin-left: 125px;
    grid-template-rows: 300px;
}
.danhmucyeuthich img:hover{
    box-shadow: 0px 0px 5px black;
    border-top: none;
}
.danhmucyeuthich img{
    transition: all 0.2s ease-in-out;
}
.sdt-header {
    display: flex;
    justify-content: space-around;
}
.h1{
    text-align: center;
}
a {
    color: rgb(93, 179, 203);
    text-decoration: none;
}

.div a img:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;
}
li{
    list-style: none;
    display: inline;
    margin: 10px;
}
ul{
    text-align: center;
}
.nd{
    margin: 20px;
    width: 188px;
}
.footer-up{
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
a:hover{
    transform: scale(1.05);
}
.logo-main h1{
    text-align: center;
    font-size: 30px;
}
.logo-main p{
    margin-top: -10px;
    text-align: center;
    color: rgb(129, 127, 127);
}
.logo-main h1:hover{
color: rgb(86, 166, 219);
}
.time{
    display: flex;
    justify-content:center;
    text-align: center;
}
.divtime{
    font-size: 18px;
    color: black;
    margin: 30px;
}
.so{
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: white;
    text-align: center;
    width: 45px;
    height: 35px;
    margin-bottom: 15px;
    background-color: rgb(86, 166, 219);
}
main{
    background-image: url(../Images/watercolor-4116932_1920.png);
    background-size: 100%;
    border-radius: 10px;
    display: grid;
    height: 100%;
    padding-left: 150px;
    padding-right: 180px;
    padding-bottom: 100px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 70px;
}
.sp{
    text-align: center;
    border: 3px solid rgb(112, 224, 219);
    width: 219px;
    height: 370px;
    background-color: antiquewhite;
}
.sp:hover{
    transition-duration: 0.6s;
    box-shadow: 0 0 8px black;
    transform: scale(1.03);

}
.name-sp{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-size: 17px;
}
.name-brand{

    font-size: 12px;
    color: rgb(129, 127, 127);;
}
.giatien{
    display: flex;
    justify-content: space-evenly;
}
.money{
    color: red;
}
.money-del{
    text-decoration-line: line-through;
}

button{
    color: white;
    margin-top: 10px;
    border: none;
    background-color: rgb(169, 230, 169);
}
button:hover{
    background-color: rgb(109, 211, 223);
}
footer{text-align: center;
    background-image: linear-gradient(1800deg, rgb(232, 251, 255), rgb(65, 134, 153));
    }
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
    }
footer p{
    color: rgb(142, 236, 236);
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
 }
.div{
    margin: 30px;
}
.div p{

    color: black;
    font-size: 16px;
}
.div p:hover{
    transform: scale(1.05);
    color: rgb(76, 183, 183);
}
.div a{
    color: black;
}
.div a:hover{
    font-family: '';
    text-decoration: none;
    color: rgb(76, 183, 183);
}
.btn_sanpham{
    margin-top: 32px;
}
/*END CSS HOME */


/* CSS CHI TIET SP */

.image {
    position: relative;background: #fff;display: flex;justify-content: center;
    align-items: center;border: 1px solid #000;color: #000;
   }
   .image:before {
    content: '';position: absolute;top: -2px;left: -2px;right: -2px;bottom: -2px;background: #fff;z-index: -1;transform: skew(2deg, 2deg);
   }
   .image:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
   }
   .image:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
   }
   .image:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
   }
   .image:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
   }
   
.addtocart{
    border-radius: 5%;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: white;

}
.addtocart:hover{
    background-color: rgb(230, 113, 113);
}
.addtocart a{
    color: white;
}
.addcart{
    border-radius: 3px;
    border: none;
    background: #5ec9ff;
    height: 48px;
    width: 170px;

}
.addcart a{
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}
.fa-thin{
    margin-right: 20px;
}
.mota{
    width: 117px;
    position: relative;background: #fff;display: flex;justify-content: center;
    align-items: center;color: #000;
}

.mota:before {
    content: '';position: absolute;top: -2px;left: -2px;right: -2px;bottom: -2px;background: #fff;z-index: -1;transform: skew(2deg, 2deg);
   }
.mota:before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
   }
.des{
    width: 470px;
}
.ctsp{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    gap: 70px;
}
.image{
    margin-left: 200px;
}
.ctsp img{
    margin-right: 150px;

}
.tip{
    border-bottom: rgb(148, 148, 255) solid 3px;
    border-right: rgb(148, 148, 255) solid 5px;
}
/* ALL SP */
.all_sp{
    margin-left: 8%;
    display: grid;
    grid-template-columns: 25% 5% 60%;
}
.left ul li{
    display: block;
}
.left ul{
    text-align: left;
}
.left{
    width: 250px;
    height: 333px;
    background-color: #e6e6e6;
}
.loc{
    text-align: center;
    background-color: #e6e6e6;
}
.sp{
    margin: 20px;
}
.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* END ALL SP */


/* CSS LOGIN */
.dangky{
    text-align: left;
    margin-left: 500px;
}
.dangky input{
    width: 400px;
    height: 30px;
}
/* END LOGIN */


.boder{

    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}
.box_title{
margin-left: 130px;
}
/* TTTK */
.formedittttk {
    text-align: left;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
/* CSS CART */
.name_voucher_view{
    font-size: 22px;
}

.voucher_view{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 70px;
    margin-left: 320px;
    margin-bottom: 100px;
}
.voucher_view img{
    position: relative;
    top: 10px;
}
.formcart {
    position: relative;background: #fff;display: flex;justify-content: center;
    align-items: center;border: 1px solid #000;color: #000;
   }
   .formcart:before {
    content: '';position: absolute;top: -2px;left: -2px;right: -2px;bottom: -2px;background: #fff;z-index: -1;transform: skew(2deg, 2deg);
   }
   /* .formcart:before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
   } */
   .formcart:before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
   }
   /* .formcart:before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
   }
   .formcart:before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
   } */
   
.cart{
    display: flex;
    justify-content: center;
}
.tt{
    width: 300px;
    height: 50px;
    background-color: rgb(230, 46, 46);
    font-size: 23px;

}
.donhang{
    padding: 30px;
    margin-left: 50px;
}
.cart p{
    font-size: 25px;
}
.cart form{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}

/* Bình LUận */

table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}tr{
    border: 1px solid black; 
}


.namebluan {
    width: 120px;
    position: relative;background: #fff;display: flex;justify-content: center;
    align-items: center;color: #000;
   }
   .namebluan:before {
    content: '';position: absolute;top: -2px;left: -2px;right: -2px;bottom: -2px;background: #fff;z-index: -1;transform: skew(2deg, 2deg);
   }

   .namebluan:before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
   }

   .namebluan:before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
   } 
.all_binhluan{
    margin-left: 200px;
    margin-bottom: 50px;
}
.box_binhluan{
    margin-left: 200px;
}
.noidung_binhluan{
    width: 30px;
}

/* Code Quan */
/*blog*/
.blog {
    display: flex;
    max-width: 1000px;
    margin: 0 auto
}

.baiviet-blog>img {
    display: block;
    margin-top: 20px
}

.blog>.tintuc h1 {
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.tintuc {
    max-width: 500px;
    margin-right: 40px;
}

.baiviet {
    max-width: 300px;
}

.baiviet h1 {
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 480px;
    padding-left: 10px;
}

/*contact*/
.contact-page {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;

}

.page-left-title {
    float: left;
    margin-right: 50px;
    margin-top: 20px;
}

input[type=text],

.contact-item{
    float: left;
    margin-right: 20px;
}
button{
    color: #fff;
    background: #333;
    border: 1px solid #333;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 15px;
    position: relative;
    width: auto;
    white-space: nowrap;
    margin-top: 10px;
    cursor: pointer;
}
span{
    font-weight: bold;
}
.phone{
    margin-top: 10px;
}
.page-right-title{
    margin-top: 20px;
}
/*about*/
.container-about{
    max-width: 1000px;
    margin: 0 auto;
}
.container-about img{
    width: 1000px;
    height: 1000px;
}
/* End Code Quan */

/* BILL */
/* .theodoidonhang{
    margin-top: 100px;
    border: 1px solid black;
}
.theodoidonhang1{
    width: 70%;
    height: 100px;
    margin-left: 20%;
    background-color: #ffffff;
}
.theodoidonhang2{
    width: 70%;
    height: 100px;
    margin-left: 20%;
    background-color: #e9e9e9;
} */
#efdg {
    background-image:linear-gradient(to right, #00ffff, #ff7f00, #ffff00, #00ff00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 140px;
    font-size: 25px;
    }

.theodoidonhang1{
    color: #717171;
    width:900px;
    margin-left: 200px;
    margin-bottom: 10px;
    box-shadow: 0 0 0 1px #d9d9d9;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    
}
.vachkemau{
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, #FFFF33, #c471ed, #12c2e9);
    border-image-slice: 1;
}
.huydonhang{
    float: inline-end;
}
.trangthai_bil{
    margin-top: 20px;
    color: #26aa99;
}
.thanhtoanmaudo{
    color: rgb(252, 93, 93);
}
/* END BILL */